.login-container{
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-box{
  margin: auto;
  padding: 25px;
  width: 50vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #4ca0d9;
  border: none;
  border-radius: 8px;
}

a{
  color: #FCF7F8;
}